    /*
    Flaticon icon font: Flaticon
    Creation date: 02/03/2018 00:20
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-reply-arrow:before { content: "\f100"; }
.flaticon-calendar-with-spring-binder-and-date-blocks:before { content: "\f101"; }
.flaticon-play-button:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-paper-plane:before { content: "\f104"; }
.flaticon-linkedin-logo:before { content: "\f105"; }
.flaticon-behance-logo:before { content: "\f106"; }
.flaticon-pinterest:before { content: "\f107"; }
.flaticon-twitter-logo-silhouette:before { content: "\f108"; }
.flaticon-facebook-logo:before { content: "\f109"; }
.flaticon-world-wide-web:before { content: "\f10a"; }
.flaticon-web:before { content: "\f10b"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f10c"; }
.flaticon-arrow-pointing-to-right:before { content: "\f10d"; }
.flaticon-sharethis-logo:before { content: "\f10e"; }
.flaticon-speech-bubbles-comment-option:before { content: "\f10f"; }
.flaticon-thumbs-up-hand-symbol:before { content: "\f110"; }
.flaticon-man-user:before { content: "\f111"; }
.flaticon-star:before { content: "\f112"; }
.flaticon-link:before { content: "\f113"; }
.flaticon-long-arrow-pointing-to-the-right:before { content: "\f114"; }
.flaticon-long-arrow-pointing-to-left:before { content: "\f115"; }
.flaticon-freepik-logo:before { content: "\f116"; }
.flaticon-youtube-play-button:before { content: "\f117"; }
.flaticon-dribbble-logo:before { content: "\f118"; }
.flaticon-envato:before { content: "\f119"; }
.flaticon-fiverr:before { content: "\f11a"; }
    
    $font-Flaticon-reply-arrow: "\f100";
    $font-Flaticon-calendar-with-spring-binder-and-date-blocks: "\f101";
    $font-Flaticon-play-button: "\f102";
    $font-Flaticon-arrows: "\f103";
    $font-Flaticon-paper-plane: "\f104";
    $font-Flaticon-linkedin-logo: "\f105";
    $font-Flaticon-behance-logo: "\f106";
    $font-Flaticon-pinterest: "\f107";
    $font-Flaticon-twitter-logo-silhouette: "\f108";
    $font-Flaticon-facebook-logo: "\f109";
    $font-Flaticon-world-wide-web: "\f10a";
    $font-Flaticon-web: "\f10b";
    $font-Flaticon-facebook-placeholder-for-locate-places-on-maps: "\f10c";
    $font-Flaticon-arrow-pointing-to-right: "\f10d";
    $font-Flaticon-sharethis-logo: "\f10e";
    $font-Flaticon-speech-bubbles-comment-option: "\f10f";
    $font-Flaticon-thumbs-up-hand-symbol: "\f110";
    $font-Flaticon-man-user: "\f111";
    $font-Flaticon-star: "\f112";
    $font-Flaticon-link: "\f113";
    $font-Flaticon-long-arrow-pointing-to-the-right: "\f114";
    $font-Flaticon-long-arrow-pointing-to-left: "\f115";
    $font-Flaticon-freepik-logo: "\f116";
    $font-Flaticon-youtube-play-button: "\f117";
    $font-Flaticon-dribbble-logo: "\f118";
    $font-Flaticon-envato: "\f119";
    $font-Flaticon-fiverr: "\f11a";